@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este é o meu projeto de clima tempo, acompanhe mais projetos no meu <a href="https://github.com/makinado" target="_blank">GitHub</a> e no meu <a href="https://leandrocantiero-15a48.web.app/#/" target="_blank">site</a>.</p>
