@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Garcia Paes<br />
    Presidente Prudente, SP 19023-060<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:leandrocantiero@hotmail.com">Leandrocantiero@hotmail.com</a><br />
    <strong>Telefone:</strong> <a>(18) 99753-6764</a>
</address>